.btn-primary {
  margin-right: 60px;
}

input {
  background: white;
  color: black;
  border-radius: 5px;
}

.button {
  color: black;
}

.city {
  color: #000000;
  margin-left: 10px;
}

.icon {
  size: 200px;
}

.temp {
  font-weight: 400;
  font-size: 65px;
  color: #000000;
  margin-left: 80px;
  margin-top: -100px;
}

.row-2 {
  color: #000000;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 0px;
}

h1 {
  color: #000000;
}
p {
  font-size: 20px;
  color: #000000;
}
.speed {
  font-size: 15px;
}
.humidity {
  font-size: 15px;
}
.temperature {
  font-size: 45px;
}

h3 {
  font-size: 25px;
}
h6 {
  text-transform: capitalize;
}

.strong {
  font-size: 35px;
}

.units .active {
  color: #000000;
  cursor: default;
  text-decoration: none;
}

.units .active:hover {
  text-decoration: none;
}

li {
  list-style: none;
  color: black;
  font-size: 15px;
  height: 18px;
  line-height: 19px;
  text-align: left;
  text-transform: capitalize;
}
